<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% block title %} 
        <title>Fun4All</title>
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_layout.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
    <script src="{% static 'js/dynamic.js' %}"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                {% block sidebar %}
                    <ul class="sidebar-nav">  
                        {% if user.is_authenticated %}
                            <li>
                                User: {{ user.get_username }}
                                <form style="display:inline" method="post" 
                                    {{request.path}}
                                    action="{% url 'logout' %}?next={% url 'home' %}">
                                    {% csrf_token %}
                                    <button class="btn">Logout</button>                 
                                </form>
                            </li>
                            <hr>
                            <li class="sidebar-link"><a href="{% url 'home' %}">Home</a></li>
                            {% if perms.app_fun4all.can_manage_data_fittizia %}
                                <li class = "sidebar-link" ><a href="{% url 'admin:index' %}">Amministrazione</a></li>
                                <li class ="sidebar-link"><a href="{% url 'datafittizia' %}">Modifica data fittizia</a></li>
                            {% endif %}
                            {% if perms.app_fun4all.can_manage_location %}
                                <li class="sidebar-link"><a href="{% url 'locations' %}">Le mie location</a></li>
                                <li class="sidebar-link"><a href="{% url 'new-location' %}">Aggiungi una nuova location</a></li>
                            {% endif %}
                            {% if perms.app_fun4all.can_manage_evento %}
                                <li class="sidebar-link"><a href="{% url 'eventi' %}">I miei eventi</a></li>
                                <li class="sidebar-link"><a href="{% url 'new-evento' %}">Aggiungi un nuovo evento</a></li>
                            {% endif %}
                            {% if perms.app_fun4all.can_manage_prenotazione %}
                                <li class="sidebar-link"><a href="{% url 'prenotazioni' %}">Le mie prenotazioni</a></li>
                                <li class="sidebar-link"><a href="{% url 'new-prenotazione' %}">Aggiungi una nuova prenotazione</a></li>
                            {% endif %}
                        {% else %}
                            <li> No user:
                                <a class="btn" href="{% url 'resetlogin' request.path %}">Login</a>
                                <a class="btn" nhref="{% url 'signup' request.path %}">Sign up</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endblock %}
            </div><div class="col-sm-10">
                <h6>{{ data_corrente }}</h6>
                <hr>
                {% block content %}{% endblock %}
                {% block pagination %}
                    {% if is_paginated %}
                        <div class="pagination">
                            {% if page_obj.has_previous %} {#se esiste pagina precedente#}
                            <a href="{{ request.path }}?page= {{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}{# pagina corrente di pagine totali #}
                            {% if page_obj.has_next %}
                            <a href="{{ request.path }}?page= {{ page_obj.next_page_number }}">next</a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endblock %} 
            </div>
            
        </div>
    </div>
</body>
</html>