<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% block title %}
        <title>Fun4All</title>
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_layout.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/fun.png' %}">
</head>
<body>
    <div class="box">
        {% block sidebar %}
            <nav class="navbar" style="background-color:rgb(232, 215, 228)">
                <div class="container-fluid d-flex align-items-center">
   
                    <div class="col-2">
                        {% if user.is_authenticated %}
                            <button class="navbar-toggler"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#funzionalita"
                                    aria-expanded="false"
                                    aria-controls="funzionalita"
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        {% endif %}
                    </div>

                    <div class="col-8 text-center">
                        <a class="navbar-brand" href="{% url 'home' %}" style="display:flex;align-items:center;justify-content:center;">
                        <img src="{% static 'images/favicon.png' %}" alt="Logo" width="60" height="54" class="d-inline-block align-text-top me-2">
                        Fun4All
                    </a>
                    </div>

                    <div class="col-2 text-end">
                        {% if user.is_authenticated %}
                        <div class="autent ">
                            <span style="margin-right: 15px; font-weight: bold;"> Utente: {{ user.get_username }}</span>
                            <form style="display:inline" method="post" action="{% url 'logout' %}?next={% url 'home' %}">
                                {% csrf_token %}
                                <button class="btn">Logout</button>
                            </form>
                        </div>
                         {% else %}
                        <div class="autent ">
                            <a class="btn" href="{% url 'resetlogin' request.path %}">Login</a>
                            <a class="btn" href="{% url 'signup' request.path %}">Sign up</a>
                        </div>
                        {% endif %}
                    </div>

                    {% if user.is_authenticated %}
                        <div class="collapse navbar-collapse" id="funzionalita">
                            <div class="navbar-nav">
                                {% if perms.app_fun4all.can_manage_data_fittizia %}
                                    <a href="{% url 'admin:index' %}" class="nav-funz">Amministrazione</a>
                                    <a href="{% url 'datafittizia' %}" class="nav-funz" >Modifica data fittizia</a>
                                {% endif %}
                                {% if perms.app_fun4all.can_manage_location %}
                                    <a href="{% url 'locations' %}"  class="nav-funz">Le mie location</a>
                                    <a href="{% url 'new-location' %}" class="nav-funz" >Aggiungi una nuova location</a>
                                {% endif %}
                                {% if perms.app_fun4all.can_manage_evento %}
                                    <a href="{% url 'eventi' %}" class="nav-funz">I miei eventi</a>
                                    <a href="{% url 'new-evento' %}" class="nav-funz">Aggiungi un nuovo evento</a>
                                {% endif %}
                                {% if perms.app_fun4all.can_manage_prenotazione %}
                                    <a href="{% url 'prenotazioni' %}" class="nav-funz">Le mie prenotazioni</a>
                                    <a href="{% url 'new-prenotazione' %}" class="nav-funz">Aggiungi una nuova prenotazione</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </nav>
        {% endblock %}

        <div class="contenuto-principale" id="main-content">
            <h6>{{ data_corrente }}</h6>
            <hr>
            {% block content %}{% endblock %}
            {% block pagination %}
                {% if is_paginated %}
                    <div class="pagination">
                        {% if page_obj.has_previous %}
                            <a style="border-right: 1px solid #6C757D;" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span style="padding: 10px;">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                        {% if page_obj.has_next %}
                            <a style="border-left: 1px solid #6C757D;" href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>