{% extends "base_generic.html"%}

{% block content %}

<div class="titolo">
    <p class="titolo">Fun4All Home</p>
</div>
<p>Benvenuto in Fun4all </p>
<p>Qui puoi trovare tutti gli eventi attivi:</p>

{% if eventi_attivi %}
    {% for evento in eventi_attivi %}
        <div class="sezione">
        <ul>
            <li>{{ evento.nome }}</li>
            <li>Data: {{ evento.data_evento}}</li>
            <li>Location: {{ evento.location }}</li>
            <li>Costo: € {{ evento.costo }}</li> 
            <li>Stato: {{ evento.get_stato_display}}</li>
        </ul>
        </div>
    {% endfor %}
{% else %}
    <div class="sezione"><p>Nessun evento attivo.</p></div> 
{% endif %}
{% endblock %}

