{% extends 'base_generic.html' %}

{% block content %}
  <h1>Gli miei eventi</h1>

  {% if evento_list %}
    {% for evento in evento_list %}
      <div class="sezione">
        <b>{{ evento.nome }}</b>
        <ul>
          <li>Location: {{ evento.location.nome }}</li>
          <li>Luogo: {{ evento.location.luogo }}</li>
          <li>Data: {{ evento.data_evento }}</li>
          <li>Stato: 
            {% if evento.stato == 'A' %}
              <b>{{ evento.get_stato_display }}</b>
            {% else %}
              {{ evento.get_stato_display }}
            {% endif %}
          </li>
          <li>Numero biglietti venduti: {{ evento.biglietti_venduti }} su {{ evento.location.capienza }}</li>
          <li>Bilancio economico: {{ evento.bilancio_economico }} €</li>

          {% if evento.stato == 'A' or evento.stato == 'S' %}
            {% if evento.se_10_giorni_prima %}
              <a href="{% url 'cancella-evento' evento.pk %}" class="btn-link">Cancella evento</a>
            {% endif %}
          {% endif %}

          {% if evento.stato == 'S' %}
            <a href="{% url 'cambia-evento-location' evento.pk %}" class="btn-link">Cambia location</a>
          {% endif %}

        </ul>
      </div>
    {% endfor %}
  {% else %}
    <div class="sezione">
      <h4>Non ci sono eventi.<h4>
    </div>
  {% endif %}

{% endblock %}
