{% extends 'base_generic.html' %}

{% block content %}
  <h1>Location List</h1>
  
    {%if location_list%}
      
      {% for location in location_list %}
          <div class="sezione">
          <ul>
            <li><b>{{ location.nome }}</b></li>
            <li> Luogo:{{ location.luogo }}</li>
            {%if location.stato == 'A'%}
              <li> Periodo di apertura: da {{ location.data_apertura }} a {{ location.data_chiusura }}</li>
            {%else%}<li>Chiuso</li>{%endif%} 
            <a href="{% url 'location-detail' location.pk %}" class = "btn-link">Dettagli</a>
            </li>
          </ul>
        </div>
      {% endfor %}   
    {% else %}
      <div class="sezione"><li>Non ci sono location.</li></div>
    {% endif %}
{% endblock %}

