{% extends "base_generic.html" %}

{% block content %}

    {% if validlink %}
        <p>Inserisci e conferma la tua nuova password.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nuova password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Conferma password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password"></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Reset password fallito</h1>
        <p>Il link per reimpostare la password non è valido, probabilmente perché è già stato utilizzato. Per favore richiedi un nuovo reset della password.</p>
    {% endif %}

{% endblock %}