
html, body {
    height: 100%;
    margin: 0;
}

.box{
    width: 100%;
    min-height: 100vh;
    background: linen;
}


.contenuto-principale {
    padding: 20px;
    width: 100%;
    height: 95%;
    background-color: linen;
}
