
body {
    font-family: "Lato", sans-serif;
    font-size : 1.3em;
    height : 96vh;
    margin-top: 2vh;
    margin-bottom: 2vh; 
}


.box td{
    padding: 5px;
}


.box ul{
    margin-bottom: 0px;
}

button{
    
    display: inline-block;
    border: 1px solid  black;
    padding: 3px 10px;
    cursor: pointer;
    background-color: #f7e4aa;
    transition: background-color 0.3s;
    font-size: 20px;
    margin: 5px;
}


button:hover{
    background-color: linen;
}

button:focus {
    outline: none;
}



/* NAVBAR */

.navbar-brand{
    display: flex;
    align-items: center;
    margin-left:40px;
    text-align: end;
}

.autent {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: end;
}

.nav-funz{
    color: black;
    text-decoration: none;
    padding-top:10px;
    padding-bottom:10px;
    width:100%;
    margin:0px;
}

.nav-funz:hover{

    background-color: rgb(231, 206, 235);
    color: white;
    transition: background-color 0.5s;
}


.btn {
    
    border:solid black 0.09em;
    border-radius: 20px;
    background-color: lavender;
    padding: 5px 15px;
    font-size: 1em;
    margin: 5px;
    cursor:pointer;
}


.btn:hover {

    border:solid black 0.09em;
    border-radius: 20px;
    background-color: rgb(223, 210, 228);
    
}



/* CONTENUTO PRINCIPALE */

.btn-link {
    display: inline-block;
    color: black;
    text-decoration: none;
    border: 1px solid  black;
    padding: 3px 10px;
    cursor:pointer;
    background-color: #f7e4aa;
    transition: background-color 0.3s;
    font-size: 20px;
    margin-top: 20px;  
}

.btn-link:hover{
    color:black;
    background-color: linen;
}

/* Caselle input (text, email, number, password...) */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],

textarea,
select {
    font-size: 18px;      
    padding: 5px 10px;  
    border-radius: 6px;   
    border: 1px solid #ccc;
    width: 400px;  
       
}

.descrizione {
    width: 400px;
    height: 100px;
    vertical-align: top;
}

.sezione{
    
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    border: 0.5px solid gray;
}
        
.pagination{

    display:flex;
    align-items: baseline;
    width: fit-content;
    border: 1px solid #6C757D;
    border-radius: 5px;
}

.pagination a{

    text-decoration: none;
    color:black;
    padding: 10px;  
    margin:0px; 
}

.pagination a:hover{
    background-color: rgb(247, 233, 219);
    transition: background-color 1s;
    border-radius: 5px;
}


.text-success { color: #28a745; }
.text-warning { color: #ffc107; }
.text-danger { color: #dc3545; }
.text-muted { color: #6C757D; }
